jarmods
config
disabledmods
jarmods
local
logs
modernfix
mods/*.jar
patchouli_books
saves
.qmenu_opened.marker
instance.json
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json
whitelist.json
ops.json
fabricloader.log
screenshots
mods/.connector
journeymap
essential
/data
crash-reports