# basic modpack stuff
local
logs

# misc
jarmods
disabledmods
jarmods

modernfix
mods/*.jars
patchouli_books
saves
.qmenu_opened.marker
instance.json
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json
whitelist.json
ops.json
fabricloader.log
screenshots
mods/.connector
/journeymap
/essential
/data
/crash-reports
/Distant_Horizons_server_data
/.curseclient
/imgui.ini
/minecraftinstance.json
/servers.dat
/servers.dat.old
/servers.essential.dat
/options.txt
/chiselsandbits
/backups
/defaultconfigs/ftbchunks/ftbchunks-world.snbt
/defaultconfigs/packetfixer.properties
/defaultconfigs/ftbchunks/client-config.snbt
/defaultconfigs/ftblibrary/ftblibrary-client.snbt
/servers.dat_old
/build

# local configs
/config/jei/world
/config/packetfixer.properties
/config/indigo-renderer.properties
/config/sound_physics_remastered
config/ItemLocks/nodes
config/oreexcavation/shapes.json
config/fabric/indigo-renderer.properties
config/oculus.properties
config/do_a_barrel_roll-client.json



# dev mods

# Library needed for minihud
mods/malilib-fabric-1.20.1-0.16.3.jar
config/malilib.json
#mini hud is a mod that displays where mobs can spawn and stuff
mods/minihud-fabric-1.20.1-0.27.0.jar
config/minihud.json
config/minihud

