jarmods
config
disabledmods
jarmods
local
logs
modernfix
mods/*.jars
patchouli_books
saves
.qmenu_opened.marker
instance.json
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json
whitelist.json
ops.json
fabricloader.log
screenshots
mods/.connector
journeymap
essential
/data
crash-reports
Distant_Horizons_server_data
.curseclient
imgui.ini
minecraftinstance.json
servers.dat
servers.essential.dat
options.txt
chiselsandbits